.TodoItem{
    padding: 10px ;
    display: grid;
    grid-template: auto / 50px 1fr 30px;
    grid-auto-rows: 50px;
    align-items: center;
    margin-bottom: 10px;
    color: black;
    font-size: 18px;
    font-weight: 700;
}
.TodoItem input[type="checkbox"]{
    height: 20px;
    width: 20px;
    background-color: white;
    border: 1px solid #333;
}
.TodoItem img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.completed{
    opacity: .5;
    text-decoration: line-through;
}
