*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
body{
  font-family: 'Thasadith', sans-serif;
  color: #333333;
}
.container{
  max-width:767px;
  margin: 0 auto;
  min-height: 90vh;
}

.Logo{
  text-align: center;
  font-size: 8rem;
  letter-spacing: 0.05rem;
}
.credit{
 margin-top: 50px;
  text-align: center;
}



@media (max-width:576px){
  .container{
    max-width: 90%;
  }
  .Logo{
    font-size: 6rem;
    font-weight: normal;
  }
  .TodoForm{
    background-color: white;
    padding: 20px 5px;
  }
}